.button-box {
    padding: var(--spacing-xsmall);
    
    background-color: transparent;

    border-radius: 8px;
    border: none;
    cursor: pointer;
    line-height: 0;
}

.button-box-sm {
    padding: var(--spacing-xxsmall);
}