.container {
    background-color: var(--colors-neutral-100);
    padding: var(--spacing-xlarge) var(--spacing-medium);

    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--colors-primary-700);
}

.signature-paragraph {
    font-size: 14px;
    padding: var(--spacing-xsmall) 0;
}